{#
Custom head.
#}

<!-- Google AdSense -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1667006488909532",
          enable_page_level_ads: true
     });
</script>

<!-- Google AdSense End -->
